<hr>
  <b><h3><%= article.title %></h3></b>
    <p class="card-text"><%= @markdown.render(article.body).html_safe %></p>
      <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
      <%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure you want to delete this article?'}, class: 'btn btn-warning' %>
