<!-- Footer Field! -->
<footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                      <h3 style="color:blue">Location</h3>
                      <p>From <b>Florida, U.S.A.</b> <br>Basecamp,<br><b>Hanoi, Vietnam</b></p>
                    </div>
                    <div class="footer-col col-md-4">
                      <h3 style="color:blue">Links</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/primetimetran" class="btn-social btn-outline">Facebook<i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/+LoiTranPrimeTimetran/posts" class="btn-social btn-outline">Google Plus<i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/PrimeTimeTrann" class="btn-social btn-outline">Twitter<i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://vn.linkedin.com/in/primetimetran" class="btn-social btn-outline">LinkedIn<i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                        Copyright 2016 <a href="https://www.PrimeTimeTran.com">PrimeTimeTran</a>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3 style="color:blue">CoderSchool</h3>
                        <p>CoderSchool is a school with visionary teachers who want to bring Computer Science and Information Technology skills to Vietnam. <a href="http://www.coderschool.vn/">CoderSchool</a>.</p>
                    </div>
                </div>
            </div>
        </div>
</footer>
