<!-- The edit form of the html. This is for the various Edits needed to make to the articles -->
<section id="portfolio">
  <container>
    <div class="container" id="main">
      <h1 style="color:blue">Editing Article</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @article, class: 'btn btn-warning' %> |
      <%= link_to 'Back', articles_path, class: 'btn btn-warning' %>
    </div>
  </container>
</section>
