<!-- The edit form of the html. This is for the various Edits needed to make to the articles -->

      <h1 style="color:blue">Editing Article</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @article, class: 'btn btn-warning' %> |
      <%= link_to 'Back', articles_path, class: 'btn btn-warning' %>
