<p id="notice"><%= notice %></p>

<div class="container">
  <h1 style="color:blue">Loi's Blog</h1>
  <h3>Not exactly my first, but my first for<br><strong style="color:red">CoderSchool</strong></h3>

  <%= render @articles %>

  <br>

  <%= link_to 'New Article', new_article_path %>

</div>
