<div class="container">
  <button id="target" class="btn btn-danger">Hide Articles</button>
  <div id="main">
    <div class="jumbotron" style="background-color: #a0ab42">
      <h1>Test</h1><a href="http://www.CoderSchool.vn">CoderSchool</a>
    </div>

    <h1>Hello! This is where we're going to practice some jQuery</h1>

    <section class="box special" id="less">
      <header class="major">
        <h2>Introducing the ultimate mobile app
        <br>
        for doing stuff with your phone</h2>
        <p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare<br />
        adipiscing nunc adipiscing. Condimentum turpis massa.</p>
      </header>
    </section>

      <section>
        <h3>Test</h3>
        <p>Lorem ipsum dolor sit amet, libero nibh quam, sociis risus morbi maecenas arcu. Amet odio, est ornare, hymenaeos dictum eget et maecenas. Elit possimus tempora amet, sem in, sit ac rhoncus quisque, volutpat facilisis. Lorem iaculis consectetuer, eget sem vivamus, sed pede suspendisse. Montes ipsum facilisis, aliquam massa aenean arcu vel maecenas. Morbi eleifend curabitur. Sapiente volutpat libero vel mollis a ullamcorper, diam dignissim lorem nonummy nibh. Ipsum aptent id phasellus scelerisque velit, in sem mattis iaculis aenean metus, sodales ut sodales viverra, natoque libero, curae non pellentesque vestibulum mollis.</p>
      </section>

      <section>
        <h4>One</h4>
        <p>Cupiditate id erat. Turpis rhoncus a, odio laoreet et eleifend eget, tortor sodales repellendus vestibulum ut condimentum neque, quis donec sed erat, pellentesque vel ut dolor quis. Blandit ut morbi, felis mattis nec et blandit ac lacus, sed quam, a leo commodo. Dui convallis sit ut, nec mus massa non tellus massa. Eleifend et, ullamcorper est in eu, orci ac tempus libero suspendisse, venenatis wisi rhoncus, quis nam a mauris. Ac ac malesuada ultricies sit nunc et. A blandit etiam aliquam neque, donec ullamcorper et facilisis, sapiente adipiscing sociosqu wisi enim, ullamcorper facere orci odio ac tempor non, nisl amet sed. Nisl et volutpat augue, malesuada posuere magnis potenti, enim et in. Justo metus aliquam, sagittis vitae mus tellus tempus. Habitasse ultrices, in dictum suspendisse. Vestibulum diam quis duis per quam, id vel curabitur justo viverra libero erat, pellentesque senectus eros leo, eros quis, eu rhoncus venenatis nunc a. Amet magna a consequat lacus at, amet iaculis.</p>
      </section>

      <section>
        <h4>Two</h4>
        <p>Id et lectus, nulla lacinia inceptos amet dignissim accumsan, eget diam, habitant eget nonummy, in tempora nibh enim. Metus volutpat nisl tellus at. Sodales volutpat massa rutrum, justo eu nec, et vel. Ac sagittis odio sit tellus amet, ut dui conubia, nibh aenean integer nam aliquam, suspendisse elit amet ultricies exercitation sit orci. Suspendisse vestibulum imperdiet, dolor doloremque quam, tempor quam consequatur id sodales maecenas a, nunc integer orci, ut etiam erat vel posuere sit. Risus dictum venenatis nisl mattis, viverra tortor lacus vel amet etiam, in libero aliquam diam. Justo ac scelerisque massa, a nec primis, suspendisse id aliquam. Non tempor turpis turpis, tristique condimentum venenatis ipsum tellus at malesuada. Faucibus in vitae, lorem varius sodales quam mattis parturient platea, suspendisse lectus leo sapien accumsan pede. Erat sem ut mauris potenti in, ut vehicula dictum, velit lacinia purus ante nam tempor, cursus non proin, nullam molestie justo. Sed tortor vestibulum rutrum, fermentum mattis litora id arcu in pharetra, aptent vestibulum felis viverra nulla, enim dui magna sed suscipit, et condimentum suspendisse neque in. Vel ut et sapien, a vel diam duis sociosqu dis nisl.</p>
      </section>

      <section>
        <h4>Three</h4>
        <p>Donec gravida cras aliquam voluptatem a wisi, urna porta eleifend fames sed scelerisque. Wisi nostrum vitae vel arcu libero nulla. Molestie adipiscing neque quisque libero id duis, est etiam vestibulum, massa tincidunt eget nunc diam lorem convallis, corporis ut, lacinia nisl. Amet et curabitur a in phasellus, lacus hendrerit ullamcorper pharetra, consectetuer integer aliquam imperdiet aliquet pharetra, metus sociosqu, sem elit vestibulum feugiat massa. Egestas magna aliquam in, mauris fringilla cras, duis tincidunt, pulvinar et in tempus morbi at.</p>
      </section>
  </div>





















<!-- Contact-->
  <%= render "layouts/contact" %>
</div>
