// Custom bootstrap variables must be set or imported before bootstrap itself.
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Muli:300,400);
@import "bootstrap";
@import "bootstrap-sprockets";

/* General styles */



html, body {
  margin:0;
  background-color: #C4F0FF;
  font-family: 'Playfair Display', serif;
  display:table;
  height: 100%;
  width:100%;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Muli', sans-serif;
 font-weight: 300;
}

.btn-custom {
 background-color: #fff;
 color: #0a8fd5;
 font-family: 'Muli', sans-serif;
 font-weight: 300;
 border-radius: 8px;
 padding: 10px 20px;
 &:hover {
   color: #383838;
   transition: 0.5s;
   background-color: #fff;
   text-decoration: none;
 }
}

.btn:hover {
 transition: 0.5s;
 color: #383838;
 background-color: #fff;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}


/* Navbar styles */
.navbar {
 font-family: 'Muli', sans-serif;
 text-transform: uppercase;
}

.navbar-default {

 padding-top: 5px;
 padding-bottom: 5px;
 background-color: #fff;

 .navbar-nav > li > a {
   color: #222;
 }

 .navbar-link {
   color: #222;
 }

 .navbar-brand {
   color: #222;
   letter-spacing: 1.1px;
 }

}

/* Links styles */

.links {
 margin-top: 20px;
 .btn-default {
   color: #0a8fd5;
 }
}

.wrapper {
  padding:20px;
  height:auto;
}

footer {
  background-color: #C0C0C0;
  display:table-row;
  height:1px;
}
