// Custom bootstrap variables must be set or imported before bootstrap itself.
@import url(http://fonts.googleapis.com/css?family=Playfair+Display|Muli:300,400);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css"); //Added the glyphicons
@import "bootstrap";
@import "bootstrap-sprockets";
@import "bday"; //custom for bday.css
@import "custom"; //custom for custom.css
@import "cssplayground";

/* General styles */
html, body {
  margin:0;
  font-family: 'Playfair Display', serif;
  display:table;
  height: 100%;
  width:100%;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Muli', sans-serif;
 font-weight: 300;
}

.btn-custom {
 background-color: #fff;
 color: #0a8fd5;
 font-family: 'Muli', sans-serif;
 font-weight: 300;
 border-radius: 8px;
 padding: 10px 20px;
 &:hover {
   color: #383838;
   transition: 0.5s;
   background-color: #fff;
   text-decoration: none;
 }
}

.btn:hover {
 transition: 0.5s;
 color: #383838;
 background-color: #fff;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}


/* Navbar styles */
.navbar {
 font-family: 'Muli', sans-serif;
 text-transform: uppercase;
}

.navbar-default {

 .navbar-nav > li > a {
   color: #222;
 }

 .navbar-link {
   color: #222;
 }

 .navbar-brand {
   color: #222;
   letter-spacing: 1.1px;
 }

}

/* Links styles */

.links {
 margin-top: 20px;
 .btn-default {
   color: #0a8fd5;
 }
}

footer {
  background-color: #D9D9D9;
  display:table-row;
  height:1px;
}


.faq {
  background-color: #EBEBEB;
  padding:20px;
  height:auto;
  border-style: solid;
}

.form-control {
  max-width: 100%;
}

// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
  $breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      text-align: left;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles
