<style>
#page-footer {
  background-color: black;
}
</style>
<footer id="page-footer">
  <ul>
    Copyright &copy; 2016
    <button type="button" class="btn btn-success"><%= link_to 'Prime Time Production','https://www.PrimeTimeTran.com' %></button>
</ul>
</footer>
