<div class="navbar navbar-default">
  <div class="navbar-header">
    <%= link_to "CoderSchoolBlog", root_path, class: "navbar-brand" %>
  </div>

  <div class="navbar-link">
    <ul>
      <li>
        <%= link_to "About", welcome_index_path, class: "navbar-right navbar-text navbar-link" %>
        <%= link_to "FAQ", welcome_faq_path, class: "navbar-right navbar-text navbar-link" %>
        <%= link_to "Khang's Code!", welcome_khang_path, class: "navbar-right navbar-text navbar-link" %>
      </li>
    </ul>
  </div>
</div>
